<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SexInfo Games - N2I|2022</title>

    <link rel="stylesheet" href="css/games.css">
    <script src="js/games.js" defer></script>
</head>
<body>
    <a href="/" class="quit-btn btn"><</a>
    <div class="question-container">
        <div class="question">
            <h1>Question</h1>
            <h3>Réponse 1</h3>
            <h3>Réponse 2</h3>
        </div>
        <div class="answers">
            <button onclick="validate(0)" class="btn">Réponse 1</button>
            <button onclick="validate(1)" class="btn">Réponse 2</button>
        </div>
    </div>
</body>
</html>